<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Video Downloader</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">

</head>
<body>
    <div class="background"></div>
    <div class="container">
        <h1>YouTube Video Downloader</h1>
        <form method="POST" action="/get_formats">
            <label for="video_url">Paste Your URL:</label>
            <input type="text" id="video_url" name="video_url" placeholder="Enter video URL" required>
            <button type="submit">Click Here</button>
        </form>
    </div>              
</body>
</html>
